/* Global Card Image with Animation */
.global-image {
    width: 200px; /* Fixed width */
    height: 200px; /* Fixed height */
    background: url('../public/images/Global Icon.png')
        no-repeat center; /* Background image */
    background-size: contain; /* Ensure full image fits */
    margin-bottom: 10px; /* Spacing below image */
    animation: spin 20s linear infinite; /* Spin animation */
}


/* Local Card Image with Animation */
.local-image {
    width: 200px; /* Fixed width */
    height: 200px; /* Fixed height */
    background: url('../public/images/Local Icon.png')
        no-repeat center; /* Background image */
    background-size: contain; /* Ensure full image fits */
    margin-bottom: 10px; /* Spacing below image */
}


/* Keyframes for spinning animation */
@keyframes spin {
    0% {
        transform: rotate(0deg); /* Initial position */
    }
    100% {
        transform: rotate(360deg); /* Full rotation */
    }
}


/* Image container for the logo */
.logo-image-container {
    width: 260px; /* Fixed width for the logo */
    height: 260px; /* Fixed height for the logo */
    margin: -50px auto 0; /* Adds space above the logo */
    margin-bottom: 0px; /* Removes margin below */
    background-image: url('../public/images/MediClear-logoName.png'); /* Logo image */
    background-size: contain; /* Ensures the logo fits the container */
    background-repeat: no-repeat; /* Prevents repeating of the logo */
    background-position: center; /* Centers the logo inside the container */
    border-radius: 10px; /* Rounds the corners of the container */
}